* {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav a.active{color: #f00!important;}

.btn:active,
.btn:focus,
.btn:visited,
a:active,
a:focus,
a:visited {
    outline: 0 none !important;
}

body {
    margin    : 0;
    background: #f9f9f9 !important;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.page_header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.page_title {
    font-weight: 300;
    margin-top : 5px;
}

.page_center {
    min-height     : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.center_content {
    text-align: center;
    color     : #666
}

.center_content h1 {
    font-weight: 900;
    font-size  : 6em;
}

.center_content a {
    color          : #000 !important;
    text-decoration: none;
}

.cus_card {
    position  : relative;
    min-height: 250px;
    overflow  : hidden;
    background: url('https://i.stack.imgur.com/h6viz.gif') no-repeat center 50%;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    border    : 0px !important;
}

.cus_card>.movie_name {
    position      : absolute;
    width         : 20px;
    height        : 20px;
    left          : -8px;
    bottom        : 10px;
    white-space   : nowrap;
    transform     : rotate(-90deg);
    font-weight   : 600;
    color         : #fff;
    text-transform: uppercase;
    text-shadow   : 0px 4px 6px rgba(0, 0, 0, 0.75);
    font-size     : 1.5em;
}

.cus_card>.movie_name::first-letter {
    color         : #f90;
    font-size     : 1.8em;
    letter-spacing: 3px;
}


body,
html,
#root {
    width : 100%;
    height: 100%;
}

.app {
    min-height: 100%;
    position  : relative;
}

.app>.app_inner {
    padding-bottom: 40px;
}



.app>footer {
    position  : absolute;
    bottom    : 0px;
    left      : 0px;
    padding   : 10px 0;
    width     : 100%;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.03);
}

footer .ecart-footer {
    display              : flex;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction   : row;
    flex-direction       : row;
    -webkit-box-pack     : justify;
    -ms-flex-pack        : justify;
    justify-content      : space-between;
    font-size            : 13px;
}

@media(max-width:767px) {
    .cus_card {
        min-height: 170px;
    }

    .cus_card>.movie_name {
        left     : -3px;
        bottom   : 5px;
        font-size: 1em;
    }

    .cus_card>.movie_name::first-letter {
        font-size     : 1.4em;
        letter-spacing: 2px;
    }

    .page_title {
        margin-bottom: -10px;
        margin-top   : -10px;
    }
}